<form class="grid gap-3" [formGroup]="userForm" (ngSubmit)="handleSubmit()">
  <span class="p-input-icon-left" style="width: 100%">
    <i class="pi pi-user"></i>
    <input
      type="text"
      formControlName="name"
      pInputText
      placeholder="Nome de exibição"
      style="width: 335px"
    />
  </span>

  <div
    class="grid flex flex-nowrap align-items-center justify-content-around col-12 pr-0"
  >
    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'login'">
        <p-button
          (onClick)="changeFormMode('create')"
          label="Criar usuário"
          [disabled]="isLoading"
          styleClass="p-0 p-button-link"
        ></p-button>

        <p-button
          type="submit"
          [disabled]="userForm.invalid || isLoading"
          styleClass="p-button-success"
          label="Entrar"
          iconPos="right"
          icon="pi pi-sign-in"
        ></p-button>
      </ng-container>

      <ng-container *ngSwitchCase="'create'">
        <p-button
          (onClick)="changeFormMode('login')"
          label="Já possui usuário?"
          [disabled]="isLoading"
          styleClass="p-0 p-button-link"
        ></p-button>

        <p-button
          type="submit"
          [disabled]="userForm.invalid || isLoading"
          styleClass="p-button-success"
          label="Criar usuário"
          iconPos="right"
          icon="pi pi-sign-in"
        ></p-button>
      </ng-container>
    </ng-container>
  </div>

  <ng-container *ngIf="errorMessage">
    <div
      class="col-12 flex justify-content-center align-items-center p-button-danger p-0 m-0"
    >
      <span style="font-size: 14px; color: red">{{ errorMessage }}</span>
    </div>
  </ng-container>
</form>
