.side-bar {
  border: 1px solid var(--gray-400);
  height: 100%;

  &-header {
    border-bottom: 1px solid var(--gray-400);
  }

  &-thumb {
    border-radius: 100%;
  }

  &-body {
    &-user {
      transition: background-color 200ms;
      &:not(:hover){
        background-color: transparent !important;
      }
    }

    &-users {
      overflow: auto;
    }
  }
}
